@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
li > span {
  font-size: 20px;
  line-height: 40px;
}

.activeMenu {
  font-weight: 800;
}


code {
  overflow: none;
}

.scroll--itunes::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll--itunes::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}
.scroll--itunes::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96a6bf, #63738c);
  box-shadow: inset 0 0 1px 1px #5c6670;
}
.scroll--itunes::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391a6, #536175);
}
